body {
    background: orangered;
}
p {
    color: darkorange;
    font-size: 30px;
}
h1 {
    color: rebeccapurple;
}
h2 {
    color: yellow;
}
.zen {
    font-family: 'Zen Tokyo Zoo';
}
.black {
    font-family: 'Black And White Picture';
}
.hollow {
    font-family: 'Blaka Hollow';
}